
        
        <beans:beans
        xmlns="http://www.springframework.org/schema/security"
        xmlns:beans="http://www.springframework.org/schema/beans"
        xmlns:util="http://www.springframework.org/schema/util"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-4.0.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
        
        
        
        
        <mvc:annotation-driven />
        <context:annotation-config />
        <context:component-scan base-package="hrms.controller" />  
        
        
    <!-- enable use-expressions -->  
    <http auto-config="true" use-expressions="true">  
        <intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />  
        <intercept-url pattern="/user**" access="hasRole('ROLE_USER')" />  
      
        <!-- access denied page -->  
        <access-denied-handler error-page="/403" />  
        <form-login login-page="/login" authentication-failure-url="/login?error"  
                    username-parameter="username" password-parameter="password" />  
        <logout logout-success-url="/login?logout" delete-cookies="JSESSIONID" invalidate-session="true"/>  
        <session-management>
            <concurrency-control max-sessions="1"  />
        </session-management>
        <session-management invalid-session-url="/login?logout" />
        <headers >
            <cache-control />
            <hsts/>
        </headers>
        <!-- enable csrf protection -->  
        <csrf />  
    </http>  
      
    <authentication-manager>  
        <authentication-provider user-service-ref="loginService" />  
    </authentication-manager>  
    
</beans:beans>  
